/* CSS Document */
.container-fluid.end{
	margin-top: -50px;
	height: 100px;
	background-color: #333333;
	position: relative;
}
.container-fluid.end div div{
	height: 60px;
	background-color: #333;
	border-radius: 5px;
	position: absolute;
	top: -30px;
}
.end div p{
	color: #7F9393;
	margin: 50px auto 0;
}
.end .glyphicon.glyphicon-arrow-up{
	color: #4D97C0;
	font-size: 30px;
	top: 10px;
}
.end .glyphicon:hover{
	color: #fff;
}
