header{
	font-family: "Playfair Display", serif;
}
.container-fluid{
	padding-left: 0;
}
.top{
	background: url("../images/background9__1454391224_205.203.130.22.jpg") no-repeat scroll center center;
	background-size: cover;
	height: 600px;
}
.navbar{
	border-radius: 0;
	-webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-default{
	background-color: transparent ;
	border-color: transparent;
}
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 25px;
}
.navbar > .container-fluid .navbar-brand{
	margin-left: 100px;
	margin-top: 15px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .active > a:hover{
	color: #fff;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}
.navbar-default .navbar-nav > li{
	position: relative;
}
.navbar-default .navbar-nav > li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar-default .navbar-nav > li:hover:after {
	width: 70%;
	background: #BCC1C4;
}
.navbar-default .navbar-nav > li:before {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar-default .navbar-nav > li.active:before {
	width: 70%;
	background: #BCC1C4;
}
.navbar-nav{
	margin-right: 90px;
	margin-top: 20px;
}
.navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
}
.well{
	background-color: transparent;
	border-color: transparent;
	padding-top: 120px;
	border-radius: 0;
	color: #fff;
}
.well-top>h1{
	font-size: 80px;
	font-family: "Playfair Display", serif;
}
.well-top>h2{
	font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-size: 40px;
	margin-bottom: 20px;
}
.well-top>p{
	font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-size: 16px;
}
.well-top>p a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.affix {
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 1px 1px 10px rgba(199,199,199,1.00);
    z-index: 9999 !important;
	-webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.affix .navbar-nav > li > a{
	color: #4D98BF !important;
}
.affix .navbar-header .navbar-brand{
	color: #000;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus{
	color: #192e39 !important;
/*	border-bottom: 1px solid #4D98BF;*/
}
.affix .navbar-nav > .active > a, .affix .navbar-nav > .active > a:focus,.affix .navbar-nav > .active > a:hover{
	background-color: transparent;
}
.affix > .container-fluid .navbar-brand{
	margin-top: 0;
	font-size: 20px;
}
.affix .navbar-nav > li{
	margin-top: -10px;
	position: relative;
}
.affix .navbar-nav > li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.affix .navbar-nav > li.active:hover:after {
	width: 70%;
	background: #BCC1C4;
}